{% extends 'fball_app/bootstrap.html' %}

{% load bootstrap4 %}
{% bootstrap_messages %}

{% load static %}

{% block bootstrap4_extra_head %}
    <meta name="author" content="Josh Bedwell">
    <link href="{% static 'page/css/fball_app/index/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{% endblock %}

{% block bootstrap4_content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><strong>FBall</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% block nav-items %}{% endblock %}
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="starter-template">
            {% block title_image %}{% endblock %}
            <h1>{% block title %}(no title){% endblock %}</h1>

            <p class="lead">
                {% block subtitle %}{% endblock %}
            </p>

            <br>
            <br>

            {% block content %}(no content){% endblock %}

            <br>
            <br>

            <p class="mt-5 mb-3 text-muted">&copy; Josh Bedwell 2021</p>
        </div>
    </main>
{% endblock %}

{% block bootstrap4_after_content %}
    <footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>This website is a project for CS 260 by Josh Bedwell</p>
    <p><a href="https://github.com/rcxwhiz/fball-submission">Github</a></p>
  </div>
</footer>
{% endblock %}
