{% extends 'fball_app/base.html' %}
{% load bootstrap4 %}

{% load static %}

{% block title %}Not Allowed{% endblock %}

{% block nav-items %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/enter_game/">Enter Game</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/view_rankings/">View Rankings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/view_player/">View Player</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/add_player/">Add Player</a>
    </li>
{% endblock %}

{% block subtitle %}You are not allowed to perform this action from this network location.{% endblock %}

{% block content %}
    <form action="{{ return_url }}">
    {% bootstrap_button "Back" button_type="submit" button_class="btn btn-lg btn-primary home_buttons" %}
    </form>
    <br>
    <div class="row justify-content-center">
        {% bootstrap_button "Home" button_type="link" href="/" button_class="btn btn-lg btn-primary home_buttons" %}
    </div>
{% endblock %}
